/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.main_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.first_container, .second_container {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 2%;
}

.first_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.first_container > div {
    flex: 1;
    margin-right: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="color"] {
    padding: 0;
    margin-top: 5px;
}

#button {
    padding: 10px 30px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover {
    background-color: gold;
}

.second_container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#note_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.note {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.note h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.note p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}
